

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a
{
	display: block;
	width: 120px;
	padding: 5px 18px;
}

ul#sliding-navigation li.sliding-element h3
{
	color: #fff;
	background:##328AA4  repeat-y;
	font-weight: normal;
}

ul#sliding-navigation li.sliding-element a
{
	color: ##fff;
	background:#328AA4 url(tab_bg.jpg) repeat-y;
	border: 1px solid #1a1a1a;
	text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover { color: #ffff66; }
#sliding-navigation{
	margin-top:50px;
	}